canvas {
  border: 5px solid lightgreen;
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightblue;
}
.heading{
    font-size: 21px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px whitesmoke;
}
.note{
    font-size: 14px;
    color: black;
}
.copy_right_footer{
   position: fixed;
   color: black;
   background-color: grey;
   bottom: 0;
   width: 100%;
   text-align: center; 
}
